@font-face {
    font-family: 'amora';
    src: url('assets/AmoraSolaraDemoRegular-BF67a16a3b945ec.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes prism {
    0% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
}

body {
    font-family: 'amora';

    display: flex;
    flex-direction: column;


    align-items: center;
    width: 100vw;
    background: linear-gradient(to left, #0a0716,
            /* Deep Violet */
            #000c19,
            /* Electric Blue */
            #002523,
            /* Teal Glow */
            #250025,
            /* Dark Magenta */
            #001c1c);
    background-size: 300% 300%;

    animation: prism 6s infinite alternate ease-in-out;
}

div#container {
    margin: 10px 0px 10px 0px;
    background-color: white;
    width: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 40px 0px;
    border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    /* Espaço entre as imagens */
}
.div-divisao {
    column-count: 4;
    column-gap: 10px;
    padding: 10px;
}
#fotos {
    display: none;

    /* Define 3 colunas */


}

@media screen and (max-width: 919px) {
    .div-divisao {
        column-count: 3;
    }
    div#container {
        width: auto;
    }


}

@media screen and (max-width: 590px) {

    .div-divisao {
        column-count: 2;
    }

    .img-falso {
        max-width: 350px;
        z-index: 2;

    }

}

@media screen and (max-width: 230px) {
    .div-divisao {
        column-count: 1;
    }

}

h1 {
    font-family: 'amora';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#lupa {
    width: 25px;
    height: 25px;
    margin: 0;

}

#navbar {
    background-color: #ffffff;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    gap: 30px;
    border-radius: 20px;
}


.f {
    color: rgb(0, 0, 0);
    display: none;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.609);
    z-index: 0;

    & .img-falso {
        width: 430px;
        z-index: 2;
    }
}

#background-lupa {
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.248);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#background-input {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.522);
    width: 100vw;
    height: 200vh;
    position: fixed;
    z-index: 1;

}

#search {
    width: 240px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    text-transform: capitalize;
}



#search-lupa {
    z-index: 2;
    display: none;
    background-color: white;
    height: 40px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;

}

#lupa-input {
    width: 40px;
    margin: 0;
    padding-right: 10px;
}

#div-zavia {
    width: 10px;
    background-color: white;
    height: 10px;
}

.load {
    width: 100vw;
    height: 30px;
    display: flex;
    margin-top: 20px;
    
    justify-content: center;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.loading {
    border: 1.5px solid #000000;
    border-right: 1.5px solid #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 3;
    animation: loading 1.5s infinite linear;

   
}

.erro {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}